@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "나눔 고딕", NanumGothic, "돋움", Dotum, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.visually_hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.header {
  height: 50px;
  margin: 0 auto;
  position: relative;
  font-size: 0;
}

.header::after {
  display: block;
  content: "";
  overflow: hidden;
  clear: both;
}

.header_link {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: rgb(171, 224, 171);
}

.header_search_gnb_wrap {
  display: flex;
  float: right;
  width: 65%;
  height: 50px;
  justify-content: flex-end;
}

.search_link {
  display: inline-block;
  background: url("../img/search.png") no-repeat center;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.search_wrapper {
  display: block;
  width: 100%;
  height: 50px;
  font-size: 0;
}

.search_back {
  background: url("../img/free-icon-left-arrow-109618.png") no-repeat center;
  background-size: 80%;
  width: 24px;
  height: 50px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.search {
  display: flex;
  flex: 1;
  height: 50px;
  justify-content: flex-end;
}

.search_input {
  display: inline-block;
  width: 50%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  vertical-align: middle;
  outline: none;
  font-size: 14px;
}

.search_button {
  display: inline-block;
  background: url("../img/search.png") no-repeat center;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #acacac;
  font-size: 12px;
}

input::-moz-placeholder {
  color: #acacac;
  font-size: 12px;
}

input:-ms-input-placeholder {
  color: #acacac;
  font-size: 12px;
}

input:-moz-placeholder {
  color: #acacac;
  font-size: 12px;
}

.menu_link {
  display: block;
  text-decoration: none;
  color: #333;
}

.menu_li {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.li_img {
  vertical-align: middle;
  margin-right: 10px;
}

.gnb_menu {
  display: inline-block;
  font-size: 1px;
  width: 45px;
  height: 50px;
  color: #333;
  background: linear-gradient(#fff 50%, tranparent 50%);
  border: 0;
}

.gnb_menu {
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #00ff0000;
}

.gnb_menu:before,
.gnb_menu:after {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 36px;
  height: 3px;
  background: #000;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.gnb_menu:before {
  margin-top: -8px;
}

.gnb_menu:after {
  margin-top: 4px;
}

.gnb_menu.active:before {
  margin-top: -2px;
  -webkit-transform: translateX(-50%) rotate(45deg) translateZ(0);
  transform: translateX(-50%) rotate(45deg) translateZ(0);
}

.gnb_menu.active:after {
  margin-top: -2px;
  -webkit-transform: translateX(-50%) rotate(-45deg) translateZ(0);
  transform: translateX(-50%) rotate(-45deg) translateZ(0);
}

/* =========== */

.hidden {
  display: none;
}

.hide {
  display: none;
}

.main {
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
}

.login_fieldset {
  max-width: 400px;
  margin: 30px auto 10px;
  background-color: #00ff0000;
}

.login_input {
  width: calc(100% - 24px);
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

.login_btn {
  width: 100%;
  height: 50px;
  border: none;
  background-color: rgb(23, 126, 28);
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.main_find_information {
  display: table;
  padding: 15px 0;
  margin: 0 auto;
}

.find_info_list {
  float: left;
}

.find_info_list + .find_info_list {
  padding-left: 20px;
}

.find_link {
  text-decoration: none;
  color: #333;
}

.top_btn {
  position: fixed;
  background: url("../img/up-arrow.png") no-repeat center;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 91px;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.top_link {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.footer {
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  color: #333;
  background-color: #fff;
}

.footer_menu {
  display: table;
  padding: 15px 0;
  margin: 0 auto;
}

.footer_menu:after {
  display: block;
  clear: both;
  content: "";
}

.footer_menu_list {
  float: left;
}

.footer_menu_list + .footer_menu_list {
  padding-left: 10px;
}

.footer_link {
  text-decoration: none;
  color: #333;
}

.footer_address {
  text-align: center;
  padding-bottom: 10px;
}

.footer_copyright {
  display: table;
  padding-bottom: 15px;
  margin: 0 auto;
}

.footer_copyright_text {
  font-weight: bold;
}

/* ----- 태블릿 ----- */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 60px;
  }

  .header_link {
    width: 120px;
    height: 60px;
  }

  .search_link {
    width: 60px;
    height: 60px;
  }

  .search {
    height: 60px;
  }

  .search_back {
    background-size: 50%;
    width: 40px;
    height: 60px;
  }

  .search_input {
    height: 50px;
    font-size: 15px;
  }

  .search_button {
    width: 60px;
    height: 60px;
  }

  .gnb_menu {
    width: 60px;
    height: 60px;
  }

  input::-webkit-input-placeholder {
    font-size: 14px;
  }

  input::-moz-placeholder {
    font-size: 14px;
  }

  input:-ms-input-placeholder {
    font-size: 14px;
  }

  input:-moz-placeholder {
    font-size: 14px;
  }

  .main {
    height: 800px;
  }

  .login_fieldset {
    width: 500px;
    margin: 100px auto 20px;
  }
}

/* ----- PC ----- */
@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    width: 980px;
    height: 70px;
    justify-content: flex-start;
  }

  .header_link {
    width: 150px;
    height: 70px;
    margin-right: 78px;
    /* margin-right: 176px; */
  }

  .header_search_gnb_wrap {
    width: 40%;
    height: 70px;
  }

  .search {
    height: 70px;
  }

  .search_back {
    background-size: 50%;
    width: 40px;
    height: 70px;
  }

  .search_link {
    display: inline-block;
    width: 70px;
    height: 70px;
  }

  .search_input {
    width: 65%;
    height: 60px;
    font-size: 16px;
  }

  .search_button {
    width: 70px;
    height: 70px;
  }

  .gnb_menu {
    display: none;
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
  }

  input::-moz-placeholder {
    font-size: 16px;
  }

  input:-ms-input-placeholder {
    font-size: 16px;
  }

  input:-moz-placeholder {
    font-size: 16px;
  }

  .header_nav {
    display: inline-block;
  }

  .menu_li {
    display: inline-block;
    width: 90px;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
  }

  .login {
    width: 100px;
  }

  .menu_li > .login > .li_text {
    display: none;
  }

  .menu_link {
    width: 90px;
    height: 70px;
  }

  .menu_link:hover {
    color: rgb(92, 151, 218);
  }

  .li_img {
    margin: 0;
  }

  .main {
    width: 940px;
    height: calc(100vh - 207px);
    margin: 0 auto;
  }

  .login_fieldset {
    width: 500px;
    margin: 100px auto 30px;
    border-radius: 10px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.08);
  }

  .login_input:focus {
    outline-color: rgb(138, 207, 142);
  }

  .top_btn {
    bottom: 97px;
  }

  .footer {
    width: 980px;
    font-size: 14px;
  }

  .hidden {
    display: none;
  }
}
