@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html, body {
  font-family: '나눔 고딕', NanumGothic, '돋움', Dotum, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}


.visually_hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.header_and_content_wrap {
  display: flex;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}


.header_title {
  width: cal(100% - 20px);
  height: 150px;
  margin: 10px;
  background-color: rgb(179, 211, 221);
}

.header {
  width: 100%;
  height: 100%;
}

.header_wrapper {
  /* display: flexbox; */
  width: 20%;
  height: 100%;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.5);
}

.header_search {
  padding-bottom: 30px;
}

.menu_link {
  text-decoration: none;
}

.menu_li {
  height: 50px;
  font-size: 25px;
  color: #333;
  vertical-align: middle;
  margin: 0 10px;
}

.li_text {
  line-height: 50px;
}

.header_search {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.search_input {
  width: 67%;
  height: 25px;
  padding: 10px;
  vertical-align: middle;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.5);
}

.search_btn {
  width: 22%;
  height: 49px;
  padding: 10px;
  vertical-align: middle;
  font-size: 15px;
  border: 2px solid #333;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.5);
  outline: none;
}



/* .main_content {
  display: flex;
  justify-content: right;
} */




.banner_wrapper {
  /* display: flex-box; */
  /* float: right; */
  display: block;
  background-color: lightgray;
  width: 100%;
  /* width: 1000px; */
  height: 350px;
  margin: 0;
  top: 0;
  right: 0;
}

.banner {
  display: block;
  background-color: gray;
  width: 100%;
  height: 350px;
}









.footer {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.footer_menu {
  display: table;
  padding: 20px 0;
  margin: 0 auto;
}

.footer_menu:after {
  display: block;
  clear: both;
  content: '';
}

.footer_menu_list {
  float: left;
}

.footer_menu_list + .footer_menu_list {
  padding-left: 10px;
}

.footer_link {
  text-decoration: none;
  color: #333;
}

.footer_address {
  text-align: center;
  padding-bottom: 5px;
}

.footer_copyright {
  display: table;
  padding-bottom: 20px;
  margin: 0 auto;
}

.footer_copyright_text {
  font-weight: bold;
}

.main_content::after {
  display: block;
  clear: both;
  content: '';
}